<h1>Student: <%=@student.name %></h1>
<h3>Mod: <%=@student.mod %></h3>

<div>Ducks:</div>
<ul>
  <% @student.ducks.each do |duck| %>
  <li> <%=link_to duck.name, duck_path(duck) %></li>
  <% end %>
</ul>
